* { box-sizing: border-box; }

body {
  min-width: 320px;
  padding: 1em;
  margin: 0;

  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

noscript {
  font-family: monospace;
  color: #f60;
}
